*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
    
}
.login-container{
    /* border: 2px solid black; */
    background-color: rgb(161, 213, 213);
    margin-top: 100px;
    height: 500px;
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px;
   
}
.login-container h1{
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
}
.login-container input{
    height: 40px;
    border-radius: 5px;
    margin-top: 50px;
    border: none;
    color: black;
    font-size: 15px;
}
.login-container button{
    /* margin-top: 100px; */
    width: 50%;
    height: 30px;
    margin: auto;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 15px;
}